.accountSideBar {
    background-color: white;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    padding: 20px;
    border-radius: 6px;
}

.contentWrapper {
    background-color: white;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    padding: 32px 40px;   
    border-radius: 6px;
    min-height: 500px;
}


.contentWrapperAdmin {
    margin-left: 240px;
    background-color: #f4f6f9;
    overflow: hidden;
    padding: 20px;
}
